<h1>Listing drives for travel  </h1>

<table>
  <thead>
    <tr>
      <th>Drive label</th>
      <th>Km distance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drives.each do |drive| %> 
      <tr>
        <td><%= drive.drive_label %></td>
        <td><%= drive.km_distance %></td>
        <td><%= link_to 'Destroy', drive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', travels_path %>

<br>

